:root {
    --black: #2E3440;
    --yellow: #EBCB8B;
    --white: #ECEFF4;
    --blue: #81A1C1;
    --dark-blue: #5E81AC;
    --green: #A3BE8C;
    --red: #BF616A;
    --orange: #D08770;
    --light-grey: #4C566A;
    --grey: #434C5E;
    --dark-cyan: #88C0D0;
    --purple: #B48EAD;
}

@font-face {
    font-family: "Iosevka";
    src: url("./iosevka.ttf");
}

html,
body {
    font-family: 'Iosevka', 'Roboto Condensed', 'Courier New', Courier, monospace;
    background-color: var(--black);
    padding: 0px;
    margin: 0px;
}

@media (max-width: 767px) {
    body {
        font-size: initial;
    }
}


.red-bg {
    background-color: var(--red);
}

.red-fg {
    color: var(--red);
}

.purple-bg {
    background-color: var(--purple);
}

.purple-fg {
    color: var(--purple);
}

.black-bg {
    background-color: var(--black);
}

.black-fg {
    color: var(--black);

}

.orange-bg {
    background-color: var(--orange);
}

.orange-fg {
    color: var(--orange);
}

.grey-bg {
    background-color: var(--grey);
}

.grey-fg {
    color: var(--grey);
}

.green-bg {
    background-color: var(--green);
}

.green-fg {
    color: var(--green);
}

.dark-blue-bg {
    background-color: var(--dark-blue);
}

.dark-blue-fg {
    color: var(--dark-blue);
}

.blue-bg {
    background-color: var(--blue);
}

.blue-fg {
    color: var(--blue);
}

.yellow-bg {
    background-color: var(--yellow);
}

.yellow-fg {
    color: var(--yellow);
}

.dense {
    width: 100%;
}

.centered {
    text-align: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

a:hover {
    transform: scale(1.1);
}

.spin:hover {
    animation: rotate 1.0s infinite linear;
}

.vert {
    display: flex;
    flex-direction: column;
}

.block {
    margin: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-left: solid 0.15em;
    color: var(--white);
    padding: 0.2em;
}

.major-title {
    /* font-size: large; */
}

.minor-title {
    /* font-size: medium; */
}

.highlight {
    color: var(--dark-cyan);
    display: inline;
}

.footer {
    position: fixed;
    bottom: 0;
}

a {
    color: var(--black);
}

h1,
h2 {
    margin: 0px;
}
p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding-left: 1em;
}

details {
    user-select: none;
}

details:not([open]) summary span.icon {
    animation: size 0.5s infinite alternate linear, spin-backwards 0.5s;
}

details[open] summary span.icon {
    animation: spin forwards 0.5s;
}

summary {
    display: flex;
}

summary::-webkit-details-marker {
    display: none;
}

@keyframes spin {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes spin-backwards {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes size {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(0.90);
    }
}

::-webkit-scrollbar {
    position: fixed;
    width: 6px;
}

::-webkit-scrollbar-track {
    position: fixed;
    background: var(--light-grey);
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}

@keyframes full {
    from {
        transform: rotate(0);
    } 
    to {
        transform: rotate(360deg) scale(1.5);
    }
}

.full-spin:hover {
    animation: full 0.9s cubic-bezier(0.5, 0.6, 0.7, 1) forwards;
}

.full-spin {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.3em;
    border-radius: 100%;
    padding-left: 0.05em;
    padding-right: 0.05em;
    color: var(--black);
    background-color: var(--yellow);
}
